@model IEnumerable<SQLMonitoring.Model.Server>

@{
    ViewData["Title"] = "Smart Scaling";
}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="~/css/site.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/codemirror.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/codemirror.min.css">
<script src="~/js/sql.js"></script>

<script type="text/javascript">
    var db = "";
    var srv = "";

    function selectServer(srvName) {
        srv = srvName
    }

    function selectDb(dbName) {
        db = dbName;
    }

</script>

<div class="list-group" style="width:25%;margin-left:-25%;margin-top:4%;">
    <a asp-area="" asp-controller="User" asp-action="Profile" class="list-group-item"><i class="fa fa-user-circle-o"></i> <span>&nbsp;&nbsp;&nbsp;Profile</span></a>
    <a asp-area="" asp-controller="Server" asp-action="Home" class="list-group-item"><i class="fa fa-database"></i> <span>&nbsp;&nbsp;&nbsp;Servers</span></a>
    <a asp-area="" asp-controller="Report" asp-action="Home" class="list-group-item"><i class="fa fa-sticky-note-o"></i> <span>&nbsp;&nbsp;&nbsp;Reports</span></a>
    <a asp-area="" asp-controller="Server" asp-action="Add" class="list-group-item"><i class="fa fa-server"></i> <span>&nbsp;&nbsp;&nbsp;Add Server</span></a>
    <a asp-area="" asp-controller="Query" asp-action="Edit" class="list-group-item"><i class="fa fa-table"></i> <span>&nbsp;&nbsp;&nbsp;Query Editor</span></a>
    <a asp-area="" asp-controller="SmartScaling" asp-action="Home" class="list-group-item" active><i class="fa fa-lightbulb-o"></i><span>&nbsp;&nbsp;&nbsp; Smart scaling</span></a>
    <a asp-area="" asp-controller="Home" asp-action="Logout" class="list-group-item"><i class="fa fa-sign-out"></i> <span>&nbsp;&nbsp;&nbsp;Sign Out</span></a>
</div>

<div class="callout callout-warning" style="position:absolute;width:1500px;top:110px;left:500px;">
    <h4>Smart Scaling</h4>
    Smart scaling is a feature that collects the data on the server level and makes smart decisions that will help the customer predict the heavy workload, peak hours,<br />
    and resource bottlenecks based on historical statistics on the server level, recommending smart scale up/scale down decisions.

    <br /><br />

    To configure and enable smart scaling prediction, it is only necessary to execute <a href="C:\SQLProjects\sql_monitoring\SQLMonitoring\SQLMonitoring\SQLMonitoring\wwwroot\SmartScaling.ps1" download> this script </a>  on the server machine which will periodically collect statistics and upload <br /> them on the server
    where they can be used for the further analysis.

    <br /><br />

    To continue, please select the server from the server list to see the scaling predictions, or download the script from the link above and setup the smart scaling for <br />
    wanted servers.
</div>

@if (@ViewBag.SmartStatsErrorMessage != null && @ViewBag.SmartStatsErrorMessage != "")
{
    <div id="infomessage" class="alert alert-danger" role="alert" style="position:absolute;width:1400px;top:460px;left:500px;">
        @ViewBag.SmartStatsErrorMessage
    </div>
}

<div class="container" style="position:absolute;width:15%;left:120px;top:460px;">
    <div class="panel-group" id="accordion">
        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a asp-controller="SmartScaling" asp-action="Check" asp-route-server="@item.ServerName">@item.ServerName</a>
                    </h4>
                </div>
            </div>
        }
    </div>
</div>
